{% if site.style == 'dark' %} {% assign icon_color = "#ffffff" %} {% else %} {%
assign icon_color = "#24292e" %} {% endif %} {% assign content = page.content %}
{% assign posts_total = site.posts | size %} {% assign user = site.github.owner
%} {% if page.path contains '_posts' %} {% assign page_title = page.title %} {%
assign meta_description = page.content | strip_html | strip_newlines |
xml_escape | truncate: 300 %} {% else %} {% assign page_title = user.name %} {%
assign meta_description = user.bio | strip_html | strip_newlines | xml_escape |
truncate: 300 %} {% endif %}

<!DOCTYPE html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <meta
      name="description"
      content="Experienced software engineer with a proven track record of delivering successful products for leading companies like intuit, GE, Persistent Systems, Infogain and more. Skilled in frontend and backend development, devops, and SaaS solutions. Passionate about building scalable and efficient systems."
    />
    <meta
      name="keywords"
      content="Ankit Singh, software engineer, tech lead, frontend engineer, backend engineer, devops, SaaS, Tailwind, reactjs, react native, react, svelte, node, javascript, html, css, chrome extension, npm packages, intuit, GE, Persistent Systems, Infogain, software development, scalable systems, efficient systems, software architecture, cloud computing, agile development, team leadership"
    />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta
      property="og:description"
      content="Experienced software engineer with a proven track record of delivering successful products for leading companies like intuit, GE, Persistent Systems, Infogain and more. Skilled in frontend and backend development, devops, and SaaS solutions. Passionate about building scalable and efficient systems."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet"
    type="text/css">
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MHBQGGXK");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-white min-height-full" {% if site.style == 'dark'
  %}style="background-color: #2f363d !important"{% endif %}>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-MHBQGGXK"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
</html>
